header {
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
  height: 100px;
  text-align: center;
}

header h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

.brushes h1 {
  background-color: mediumspringgreen;
  font-family: helvetica, arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.brushes p span {
  font-family: Helvetica, arial, sans-serif;
  color: blue;
  font-weight: bold;
}
.frames h1 {
  background-color: lightcoral;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  font-size: 32px;
}

.frames span {
  color: blue;
  font-weight: bold;
  font-family: helvetica;
}

.paint h1 {
  background-color: skyblue;
  font-size: 32px;
  font-family: helvetica;
  color: white;
}

.paint span {
  font-weight: bold;
  font-family: helvetica;
  color: blue;
}
